@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter', sans-serif;
}

img{
    display: block;
}

header{
    background: url(../img/asset13.svg);
    background-repeat:repeat-y;
    background-position: 50% 0%;
}